*{
    margin: 0;
    padding:0;
    text-decoration: none;
    box-sizing: border-box;

}

header{

    display:flex;
    justify-content: center;
    background-color: #eeae55

}

body{
    background-color: rgb(129, 85, 85);
   
}
section, .conteudo-principal{
    margin: 60px;
    display: flex;
}

p{
    color: white;
}
section.categorias .frutosDoMar {
    
    border-radius: 50%;
    width: 75px;
    height: 75px;
}

img{
    width: 200px;
    height: 200px;
    margin: 120px;
   margin-top: 20px;
   margin-bottom: 20px;
   
}


footer{
    background-color: #eeae55;
    justify-content: center;
    text-align: center;
    color:rgba(129, 3, 29, 0.993)
}
